
{% extends 'base.html' %}
{% block content %}

<div class ="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>TODO</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3-shadow">
               {% csrf_token %}
                <div class="form-group">
                     <input type="text" class="form-group" name="task" placeholder="enter the task-name"><br>
                </div>
                <div class ="form-group">
                   <input type="text" class="form-group" name="priority" placeholder="enter the priority"><br>
                </div>
                <div class ="form-group">
                   <input type="date" class="form-group" name="date" placeholder="enter the date"><br>
                </div>
                   <input type="submit" class="btn btn-success">

            </form>
        </div>
        <div class="col-md-6">
            <h4>Task to be Completed</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class ="card-body">
                    <h5 class="card-title">  {{i.name}}</h5>
                     <p><b>{{i.priority}}</b></p>
                     <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'updates' i.id %}">update</a>
                </div>
            </div>
            <br>
               {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
