<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body style="background-color:pink">
<h1>ABOUT</h1>
<p>The Taj Mahal Palace opened in Mumbai, then Bombay, in 1903,
    giving birth to the country’s first harbour landmark. The recently trademarked
    flagship hotel overlooks the majestic Gateway of India. This legendary hotel in
    Mumbai has played host to kings, dignitaries and eminent personalities from across
    the globe, and is acknowledged as a world leader in hospitality.
    Each of the rooms 285 rooms & suites are a striking blend of nostalgic
    elegance, rich history and modern facilities.</p>

</body>
</html>